body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #171a1a 0%, #041027 100%);
    overflow: hidden;
}